# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Data
data/raw/*
!data/raw/.gitkeep
data/normalized/*
!data/normalized/.gitkeep
data/quarantine/*
!data/quarantine/.gitkeep
data/warehouse/*
!data/warehouse/.gitkeep
data/reports/*
!data/reports/.gitkeep

# Playwright
.playwright/

# Testing
.pytest_cache/
.coverage
htmlcov/
.mypy_cache/
.ruff_cache/
